.table {
    text-align: center;
}

.table th {
    text-align: center;
}

.cal-table td {
    vertical-align: middle;
    cursor: pointer;
}

.cal-table tbody a {
    color: black;
    display: block;
    text-decoration: none;
}

.cal-table tbody a:hover:not(.cal-today) {
    color: #75cdff;
    cursor: pointer;
}

.cal-weekrow {
    font-weight: bold;
}

.cal-today {
    background-color: #75cdff;
    font-weight: bold;
}

.cal-td {
    cursor: pointer;
}

.cal-selected {
    border: 2px solid #00b8d4!important;
}

.table-sm td {
    vertical-align: middle;
}

.amountCell {
    text-align:right;
    padding-right: 1em!important;
}