#profile {
    text-align: center;
}
#profile img {
    border-radius: 50%;
    border-style: solid;
    border-color: #fff;
}

#profile > .profile-name {
    margin-top: 0.5em;
    font-weight: bold;
}

#profile > .profile-email {
}

#contents {
    background-color:#333;
    color:#fff;
    padding-top: 1em;
}

hr {
    border-color: #000;
}

.navbar-side {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    list-style: none;
    border-left: 2px solid #ccc;
    background-color: #f7f7f9;
    overflow-y: scroll;
    z-index: 1000;
}

.navbar-side-item {
    padding: 1.5rem 1rem;
    margin: 0;
    border-bottom: 2px solid #ccc;
}

.side-link {
    padding-left: 2rem;
}

.navbar-side {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.reveal {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #ccc;
    opacity: 0.6;
    z-index: 999;
}

#sidebar-close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding-top: 0.5em;
    padding-right: 0.5em;
    z-index: 999;
}

#sidebar-close:hover {
    cursor: pointer;
}

@media (max-width: 575px)  { .navbar-side { min-width: 300px; } }
@media (max-width: 767px)  { .navbar-side { min-width: 300px; } }
@media (max-width: 991px)  { .navbar-side { min-width: 300px; } }